@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
  background-color: #D8CAAD;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
}

img {
    max-height: 300px;
}

article{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 5% 10% 5% 5%;
}