<!DOCTYPE html>
<div class="modal-content">
  <p>The purpose of this web site is to explore various types of typographic and
        layout style for text documents, as an end-of-course project for the "Information
        Modeling and Web technologies" course of the Master Degree in Digital Humanities
        and Digital Knowledge of the University of Bologna, under prof. Fabio Vitali.
        The documents contained in this web site have been selected for their length and
        complexity from their respective source publications. Their publication here is not intended to be an alternative or
        replace their original locations:</p>

        <ul>
          <li>Issue 1:</li>
          <ul>
            <li>Article 1: <a href="https://www.newyorker.com/news/annals-of-a-warming-planet/the-particular-psychology-of-destroying-a-planet">https://www.newyorker.com/news/annals-of-a-warming-planet/the-particular-psychology-of-destroying-a-planet</a></li>
            <li>Article 2: <a href="https://www.theguardian.com/commentisfree/2021/may/06/difference-real-climate-policy-greenwashing-emissions">https://www.theguardian.com/commentisfree/2021/may/06/difference-real-climate-policy-greenwashing-emissions</a></li>
            <li>Article 3: <a href="https://www.newyorker.com/news/annals-of-a-warming-planet/what-to-do-with-climate-emotions">https://www.newyorker.com/news/annals-of-a-warming-planet/what-to-do-with-climate-emotions</a></li>
          </ul>

          <li>Issue 2:</li>
          <ul>
            <li>Article 1: <a href="https://harpers.org/archive/2022/01/spent-fuel-the-risky-resurgence-of-nuclear-power/" target="_blank">https://harpers.org/archive/2022/01/spent-fuel-the-risky-resurgence-of-nuclear-power/</a></li>
            <li>Article 2: <a href="https://www.newyorker.com/news/dispatch/is-nuclear-power-worth-the-risk/" target="_blank">https://www.newyorker.com/news/dispatch/is-nuclear-power-worth-the-risk/</a></li>
            <li>Article 3: <a href="https://www.theatlantic.com/magazine/archive/2023/03/climate-change-nuclear-power-safety-radioactive-waste/672776/" target="_blank">https://www.theatlantic.com/magazine/archive/2023/03/climate-change-nuclear-power-safety-radioactive-waste/672776/</a></li>
          </ul>
        </ul>

        <p>All copyrights and related rights on the content remain with their original owners.
        All copyright on the typographic and layout choices are owned by their respective creators or the entity that commissioned the work.
  </p>
  <span class="modal-close" id="modal-close">Close</span>
</div>