<header>
  <a href="/">
    <h2>Project Title</h2>
  </a>
  <ul class="navbar">
    <li class="nav-item"><a href="./articles/spent-fuel-the-risky-resurgence-of-nuclear-power.html">Issues</a></li>
    <li class="nav-item"><a href="">About</a></li>
    <li class="nav-item"><a href="">Documentation</a></li>
    <li class="nav-item"><a href="">Disclaimer</a></li>
  </ul>
</header>


<script type="text/javascript">
  // When the user scrolls down from the top of the document, resize the navbar's padding and the logo's font size
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
      document.getElementById("reviewName").style.fontSize = "30px";
      document.getElementById("reviewName").style.zIndex = "100";
      document.getElementById("styleSelector").style.padding = "0px";
      document.getElementById("styleSelector").style.height = "60px";
    } else {
      document.getElementById("reviewName").style.fontSize = "";
      document.getElementById("styleSelector").style.padding = "";
      document.getElementById("styleSelector").style.height = "";
    }
  }


</script>