<aside class="left-sidebar">
    <div class="metadata-container">
        <div class="metadata-list-people">
            <div class="metadata-list-header">
                People mentioned in the article:
            </div>
            <ul class="collapsed-list persList"></ul>
        </div>
        <hr class="horizontal-line">
        <div class="metadata-list-places">
            <div class="metadata-list-header">
                Places mentioned in the article:
            </div>
            <ul class="collapsed-list placeList"></ul>
        </div>
        <hr class="horizontal-line">
        <div class="metadata-list-dates">
            <div class="metadata-list-header">
                Dates mentioned in the article:
            </div>
            <ul class="collapsed-list dateList"></ul>
        </div>
        <hr class="horizontal-line">
    </div>
</aside>