<div class="style-selector-content">
    <h1>Select a Theme</h1>
    <div class="style-buttons">
        <button class="style-button" id="style1" name="1500.css" onclick="changeStyle(this.name)">1500</button>
        <button class="style-button" id="style2" name="90s.css" onclick="changeStyle(this.name)">1990</button>
        <button class="style-button" id="style3" name="pulp.css" onclick="changeStyle(this.name)">Pulp</button>
        <button class="style-button" id="style4" name="future.css" onclick="changeStyle(this.name)">Future</button>
    </div>
</div>