<div class="style-selector-content">
    <h1>Select a Style</h1>
    <div class="style-buttons">
        <button class="style-button" id="button1500" name="1500.css" onclick="changeStyle(this.name)">1500</button>
        <button class="style-button" id="buttonPulp" name="pulp.css" onclick="changeStyle(this.name)">Pulp</button>
        <button class="style-button" id="button1990" name="90s.css" onclick="changeStyle(this.name)">1990</button>
        <button class="style-button" id="buttonFuture" name="future.css" onclick="changeStyle(this.name)">Future</button>
    </div>
</div>