@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Jomolhari&display=swap');

@font-face {
    font-family: 'Century Modern';
    src:url('../fonts/Century\ Modern/Century modern.ttf');
}

@font-face {
    font-family: 'Essays-1743';
    src:url('../fonts/webfonts_Essays-1743/Essays-1743.ttf.woff') format('woff'),
        url('../fonts/webfonts_Essays-1743/Essays-1743.ttf.svg') format('svg'),
        url('../fonts/webfonts_Essays-1743/Essays-1743.ttf.eot'),
        url('../fonts/webfonts_Essays-1743/Essays-1743.ttf.eot#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Essays-1743-italic';
    src:url('../fonts/webfonts_Essays-1743-Italic/Essays-1743-Italic.ttf.woff') format('woff'),
        url('../fonts/webfonts_Essays-1743-Italic/Essays-1743-Italic.ttf.svg') format('svg'),
        url('../fonts/webfonts_Essays-1743-Italic/Essays-1743-Italic.ttf.eot'),
        url('../fonts/webfonts_Essays-1743-Italic/Essays-1743-Italic.ttf.eot#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chapbook';
    src:url('../fonts/webfonts_Chapbook/Chapbook.ttf.woff') format('woff'),
        url('../fonts/webfonts_Chapbook/Chapbook.ttf.svg#Chapbook') format('svg'),
        url('../fonts/webfonts_Chapbook/Chapbook.ttf.eot'),
        url('../fonts/webfonts_Chapbook/Chapbook.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0-2f, U+3a-ffff;
}

@font-face {
    font-family: 'MediaevalItalique';
    src:url('../fonts/webfonts_MediaevalItalique/MediaevalItalique.ttf.woff') format('woff'),
        url('../fonts/webfonts_MediaevalItalique/MediaevalItalique.ttf.svg#MediaevalItalique') format('svg'),
        url('../fonts/webfonts_MediaevalItalique/MediaevalItalique.ttf.eot'),
        url('../fonts/webfonts_MediaevalItalique/MediaevalItalique.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Humane Bordeaux';
    src:url('../fonts/1589_Humane_Bordeaux W00 Italic/1589_Humane_Bordeaux\ W00\ Italic.woff') format('woff'),
        url('../fonts/1589_Humane_Bordeaux W00 Italic/1589_Humane_Bordeaux\ W00\ Italic.svg') format('svg'),
        url('../fonts/1589_Humane_Bordeaux W00 Italic/1589_Humane_Bordeaux\ W00\ Italic.eot'),
        url('../fonts/1589_Humane_Bordeaux W00 Italic/1589_Humane_Bordeaux\ W00\ Italic.eot#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cock';
    src:url('../fonts/Cock/Cock.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
  --folio-height: 100vh;
  --folio-width: 50vw;
  --double-folio-padding: 5rem;
}


body {
  background-color: #fae4be;
  background-image: url("../img/1500/textured-paper.png");
  box-sizing: border-box;
  margin: 0px !important;
  color: #3a302a;
  opacity: 0.8;
}

.horizontal-line {
  height: 1rem;
  border: none;
  width: 100%;
  background-image: url(../img/1500/line.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
  margin: 1rem 0;
} 

.decoration {
  user-select: none;
  margin-top: 2rem;
  width: calc(var(--folio-width) - var(--double-folio-padding) * 4);
}


.folio {
  height: var(--folio-height);
  width: var(--folio-width);
  margin: 0 auto;
}

/* STYLE SELECTOR */



/* LANDING */

#landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map-container {
  height: 100%;
  margin: var(--double-folio-padding) var(--double-folio-padding) 4rem var(--double-folio-padding);
  border-image: url("../img/1500/The-Geneva-Bible-1570-3015_p_2_map_border.png");
  border-image-slice: 176 430 306 433;
  border-image-width: 100px 200px 200px 230px;
  border-image-outset: 94px 189px 180px 222px;
  border-image-repeat: round round;
}

#map{
  height: 100%;
  z-index: 1;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 4vh;
}

#scrolldown-heart {
  background-color: transparent;
  border: none;
  height: 3rem;
  width: 3rem;
  background-image: url('../img/1500/The-Geneva-Bible-15713015_p_2_new_testament_symbol.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  outline: none;
  transform: translateX(0.5rem);
}

/* TITLE PAGE */

#titlepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titlepage h1 {
  font-family: 'Cock', serif;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 0.2em;
  margin: 0;
}

#titlepage h3 {
  font-family: 'Humane Bordeaux', serif;
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 0.2em;
  margin: 0;
}

#titlepage h2 {
  font-family: 'Cock', serif;
  font-size: 3em;
  font-weight: 100;
  letter-spacing: 0.2em;
  margin: 0;
}


.latest-issue-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-issue-container > img {
  min-height: 100%;
}