@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Jomolhari&display=swap');

@font-face {
  font-family: 'Century Modern';
  src: url('../fonts/Century\ Modern/Century modern.ttf');
}

@font-face {
  font-family: 'Essays-1743';
  src: url('../fonts/webfonts_Essays-1743/Essays-1743.ttf.woff') format('woff'),
    url('../fonts/webfonts_Essays-1743/Essays-1743.ttf.svg') format('svg'),
    url('../fonts/webfonts_Essays-1743/Essays-1743.ttf.eot'),
    url('../fonts/webfonts_Essays-1743/Essays-1743.ttf.eot#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Essays-1743-italic';
  src: url('../fonts/webfonts_Essays-1743-Italic/Essays-1743-Italic.ttf.woff') format('woff'),
    url('../fonts/webfonts_Essays-1743-Italic/Essays-1743-Italic.ttf.svg') format('svg'),
    url('../fonts/webfonts_Essays-1743-Italic/Essays-1743-Italic.ttf.eot'),
    url('../fonts/webfonts_Essays-1743-Italic/Essays-1743-Italic.ttf.eot#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chapbook';
  src: url('../fonts/webfonts_Chapbook/Chapbook.ttf.woff') format('woff'),
    url('../fonts/webfonts_Chapbook/Chapbook.ttf.svg#Chapbook') format('svg'),
    url('../fonts/webfonts_Chapbook/Chapbook.ttf.eot'),
    url('../fonts/webfonts_Chapbook/Chapbook.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0-2f, U+3a-ffff;
}

@font-face {
  font-family: 'MediaevalItalique';
  src: url('../fonts/webfonts_MediaevalItalique/MediaevalItalique.ttf.woff') format('woff'),
    url('../fonts/webfonts_MediaevalItalique/MediaevalItalique.ttf.svg#MediaevalItalique') format('svg'),
    url('../fonts/webfonts_MediaevalItalique/MediaevalItalique.ttf.eot'),
    url('../fonts/webfonts_MediaevalItalique/MediaevalItalique.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Humane Bordeaux';
  src: url('../fonts/1589_Humane_Bordeaux W00 Italic/1589_Humane_Bordeaux\ W00\ Italic.woff') format('woff'),
    url('../fonts/1589_Humane_Bordeaux W00 Italic/1589_Humane_Bordeaux\ W00\ Italic.svg') format('svg'),
    url('../fonts/1589_Humane_Bordeaux W00 Italic/1589_Humane_Bordeaux\ W00\ Italic.eot'),
    url('../fonts/1589_Humane_Bordeaux W00 Italic/1589_Humane_Bordeaux\ W00\ Italic.eot#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cock';
  src: url('../fonts/Cock/Cock.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --folio-height: 100vh;
  --folio-width: 50vw;
  --double-folio-padding: 10vw;
}

* {
  box-sizing: border-box;
}

.loading {
  background-color: #fae4be;
  background-image: url("../img/1500/textured-paper.png");
  margin: 0;
  padding: 0;
  color: #3a302a;
  font-family: 'Chapbook', 'Humane Bordeaux', serif;
  letter-spacing: 0.1em;
  display: flex;
  flex: 1;
  overflow-x: hidden;
  box-shadow: inset 0px 0px 60px 0px #9e752ec0;
  height: 100%;
  width: 100%;
}

body.article {
  background-color: #fae4be;
  background-image: url("../img/1500/textured-paper.png");
  margin: 0;
  padding: 0;
  color: #3a302a;
  font-family: 'Chapbook', 'Humane Bordeaux', serif;
  letter-spacing: 0.1em;
  display: grid;
  grid-template-columns: 10% 90%;
  overflow-x: hidden;
  box-shadow: inset 0px 0px 60px 0px #9e752e5c;
  transition: 0.3s;
}

/* DISCLAIMER*/

.disclaimer-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
}

.modal-content {
  display: none;
  background-color: #fae4be;
  background-image: url("../img/1500/textured-paper.png");
  width: fit-content;
  height: fit-content;
  max-width: 60vw;
  margin: 0;
  padding: 0;
  color: #3a302a;
  font-family: 'Chapbook', 'Humane Bordeaux', serif;
  box-shadow: inset 0px 0px 60px 0px #9e752e5c;
  letter-spacing: 0.1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-image: url("../img/1500/upper-border.png");
  border-image-slice: 27 31 27 22;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 5px 6px 6px 6px;
  border-image-repeat: stretch stretch;
}

.modal-content > ul {
  text-align: left;
}

.disclaimer-container.visible .modal-content {
  display: flex;
}

.modal-content > p:first-of-type {
  padding-top: 1rem;
}

.modal-content p {
  text-align: justify;
  padding: 0 2rem;
}


.modal-close {
  text-align: center;
  text-decoration: none;
  color: #3a302a;
  text-decoration: underline rgba(58,48,42, 0);
  transition: text-decoration-color 300ms;
  margin: 2rem 0 ;
}

.modal-close:hover {
  cursor: pointer;
  text-decoration-color: rgba(58,48,42, 1);
}


span.tag[data-wiki] {
  white-space: nowrap;
  text-shadow: 0px 0px 1px #000000;
  opacity: 1;
}

span.tag[data-wiki]::before {
  content: '';
  display: inline-block;
  background-image: url('../img/1500/note.png');
  background-size: contain;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 0.9rem;
  width: 0.8rem;
  opacity: 0.8;
}

span.tag:hover[data-wiki] {
  cursor: pointer;
}


body.article.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.error-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  animation: 0.7s linear 0s 1 fadeIn;
}

.article-text, .metadata-container {
  opacity: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.9; }
}

.loading {
  font-size: 1.5rem;
  color: #3a302a;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}


.metadata-buttons-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.metadata-buttons-container button{
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.5rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #3a302a
}

.metadata-buttons-container button.active {
  font-weight: bolder;
}


/* HEADER */
.header-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  right: 10vh;
  height: 100%;
  opacity: 0.9;
  align-items: flex-start;
  width: 100%;
  padding-left: 3vw;
}


.fab-wrapper {
  display: none;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: auto;
  align-items: flex-start;
  width: 100%;
  padding-left: 1rem;
}

.header-button {
  height: 2rem;
  width: 1rem;
  flex: 0 0 auto;
  background-color: transparent;
  white-space: nowrap;
  border: none;
  border-radius: 30%;
  opacity: 0.9;
  background-image: url('../img/1500/bigger\ dot.png');
  background-size: contain;
  background-position-y: center;
  background-repeat: no-repeat;
}

.header-button-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  position: relative;
  overflow: hidden;
  transition: flex 0.3s;
  cursor: pointer;
  gap: 1rem;
  width: 100%;
}

.header-button-text {
  position: relative;
  visibility: visible;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-out;
  flex: 1 0 100%;
  text-align: left;
  white-space: nowrap;
}

.header-icon img {
  height: 4rem;
}

body.article:has(header.article:hover) {
  grid-template-columns: 15% 90%;
  transition: 0.3s;
}

header.article:hover .header-button-text, header.article:hover .collapsible-list li {
  visibility: visible;
  opacity: 0.8;
  transition: opacity 0.5s ease-out;
}

.header-button-text:hover {
  font-weight: bold;
}

.collapsible-list {
  display: none;
  margin: 0;
  text-align: left;
}

.collapsible-list.active {
    display: block;
}

.collapsible-list li {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease-out;
}

.collapsible-list li:hover {
    font-weight: bold;
    cursor: pointer;
}

.coll-article {
  padding-left: 1rem;
}


/* MAIN LAYOUT */

html::-webkit-scrollbar {
  /* display: none; - can be joined with next one */
}
.article-container::-webkit-scrollbar,
.metadata-panel-left::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
}

header.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem 0;
}

main.article {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.article-container {
  overflow-y: scroll;
  height: 100vh;
}

.metadata-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 100vh;
  width: 46.5vw; 
}


/* METADATA */

/* layout */

.metadata-upper {
  width: 100%;
  height: 50vh;
  min-height: 50%;
  padding: 1rem;
}

.metadata-bottom {
  width: 90%;
  height: 40%;
}

.separator {
  margin: 2rem 2rem 0rem 2rem;
  opacity: 0.9;
}

.separator div{
  text-align-last: justify;
}

#holy_line1 {
  font-size: 1.7rem;
  font-family: 'Chapbook', serif;
  letter-spacing: 0.4rem;
}
#holy_line2 {
  font-size: 0.8rem;
  font-family: 'Chapbook', serif;
  letter-spacing: 0.3rem;
}
#holy_line3 {
  font-size: 1.5rem;
  font-family: 'Chapbook', serif;
  letter-spacing: 0.4rem;
  font-weight: 100;
}


/* tag lists */

.lists-container {
  max-height: 28vh;
}

.lists-container::-webkit-scrollbar-thumb {
  width: 3px;
}

.metadata-list-container.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

.metadata-list-container {
  display: none;
}

.metadata-list {
  margin: 0;
  padding: 0;
  column-count: 4;
  max-height: 35vh;
}

.metadata-list ul {
  margin: 0;
  padding: 0;
}

.metadata-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.metadata-entry {
  font-family: 'Chapbook', serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: #3a302a;
}

.metadata-entry:hover {
  font-weight: 800;
  cursor: pointer;
}

.metadata-entry.active {
  font-weight: 800;
  text-decoration: underline;
}

.metadata-entry[data-wiki^="https"]::after {
  content: '*';
  display: inline-block;
}

.metadata-list li a:hover {
  font-weight: 800;
}

.metadata-list li {
    /* width: fit-content; */
    margin: 0;
    padding: 0;
    break-inside: avoid-column;
}

.list-block-heading {
    text-align: center;
    display: block;
    font-family: 'Cock', serif;
    font-weight: 800;
}


/* dates */

.dateList {
  column-count: 4;
}

.date-year {
  break-inside: avoid-column;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-entry {
  line-height: 1rem;
  font-family: 'Essays-1743', serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: #3a302a;
}

.month-entry {
  font-family: 'Essays-1743-italic', serif;
  text-indent: 3rem;
  font-size: 0.8rem;
  text-decoration: none;
  color: #3a302a;
  transform:rotate(1deg);
  text-transform: capitalize;
}


.year-entry:hover, .month-entry:hover{
  font-weight: 800;
  cursor: pointer;
}

.timeline-item.active{

}

/* map */

.marker {
  background-image: url('../img/1500/marker.png');
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}

.marker:hover {
  width: 1.8rem;
  height: 1.8rem;
}

.marker.plant {
  background-image: url('../img/1500/marker-plant.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.marker.plant:hover {
  width: 2.3rem;
  height: 2.3rem;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-popup-content {
  font-family: 'Chapbook', serif;
  padding: 0.2rem 0.3rem;
  background-color: #ddd5c5;
  border: 2px solid #3a302a;
}

.mapboxgl-popup-tip {
  color: #fae4be;
  opacity: 0.8;
  border: 2px solid #3a302a;
}

.mapboxgl-popup-close-button {
  display: none;
}


.article-map-container{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.article-map-container.active{
  visibility: visible;
  opacity: 1;
}

.article-map-container,
.wiki-container {
  height: 100%;
  width: 100%;
}

.metadata-upper {
  border-image: url("../img/1500/upper-border.png");
  border-image-slice: 27 31 27 22;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 10px 15px 10px 10px;
  border-image-repeat: stretch stretch;
}

.article-map {
  height: 100%;
  width: 100%;
  border-image: url("../img/1500/map-border.png");
  border-image-slice: 90 90 90 90;
  border-image-width: 35px 41px 40px 40px;
  border-image-outset: 20px 23px 20px 20px;
  border-image-repeat: round;
}


/* WIKI */

.wiki-container {
  display: none;
  position: relative;
  z-index: 1;
  background-color: transparent;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.wiki-container.active {
  display: flex;
}

.wiki-thumbnail-container {
  display: none;
  flex: 0 0 40%;
  padding-left: 2rem;
  justify-content: center;
}
J
.wiki-thumbnail-container.active {
  display: flex;
}

.wiki-thumbnail {
  border-image-slice: 25 32 25 32 fill;
  border-image-width: 12px 12px 12px 12px;
  border-image-outset: 8px 12px 10px 10px; 
  border-image-repeat: round round;
  border-image-source: url('../img/1500/image-borders.png');
  max-height: 100%;
  max-width: 100%;
}

.wiki-text{
  max-height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 60%;
  padding-right: 2.5rem;
  max-height: 100%;
}

.wiki-extract {
  overflow-y: scroll;
  text-indent: 1rem;
  text-align: justify;
}

.wiki-extract::-webkit-scrollbar {
  width: 1rem;
}

.wiki-extract::-webkit-scrollbar-thumb {
  background: url('/img/1500/scrollbar.png');
  background-repeat: no-repeat;
}

.wiki-readmore {
  text-align: center;
  text-decoration: none;
  color: #3a302a;
  text-decoration: underline rgba(58,48,42, 0);
  transition: text-decoration-color 300ms;
  margin-top: 2rem;
}

.wiki-readmore:hover {
  cursor: pointer;
  text-decoration-color: rgba(58,48,42, 1);
}

.wiki-close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('../img/1500/close_button.png');
  background-size: cover;
}

.wiki-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.wiki-loading p {
  font-family: 'Chapbook', serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* ARTICLE */

.article-container {
  width: 46.5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 0 50%;
  padding: 2rem;
  opacity: 0.9;
}

.cover-page {
  height: 96vh;
  justify-content: center;
  display: grid;
  overflow: hidden;
  padding-bottom: 2rem;
  grid-template-rows: fit-content auto 5% 5%;
}

.titles {
  grid-row: 1;
  margin-bottom: 1rem;
}

.cover-image {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin: 0;
  height: fit-content;
  width: 100%;
  grid-row: 2;
  justify-items: center;
  align-self: center;
  justify-self: center;
  max-width: 35vw;
}

.article-date {
  grid-row: 3;
}

.article-source {
  grid-row: 4;
}

.cover-image > img {
  max-height: inherit;
  object-fit: contain;
  flex: 0 1 50%;
}

.cover-image > .image-description{
  writing-mode: vertical-rl;
  rotate: 180deg;
  text-align: center;
  margin-right: 1rem;
  display: flex;
  align-items: flex-end;
  max-height:40vh;
}

.cover-image > .image-attribution{
  writing-mode: vertical-lr;
  font-size: 0.8rem;
  margin-left: 1rem;
  justify-self: baseline;
}

.article-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  text-transform: uppercase;
  margin: 1rem 1rem 0 1rem;
}

.article-source {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  text-decoration: none;
  height: fit-content;
  color:  #3a302a;
}


.cover-page>.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.titles > * {
  margin: 0;
}

.article-title {
  font-family: 'Cock', serif;
  font-size: 10vh;
  font-weight: 100;
  letter-spacing: 0.2em;
  margin: 0;
  text-transform: uppercase;
}

.by {
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.2em;
  margin: 0;
  text-transform: capitalize;
}

.article-author {
  font-family: 'Chapbook', serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 100;
  text-transform: uppercase;
}

.article-subtitle {
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.7em;
  font-weight: 100;
  letter-spacing: 0.2rem;
}

h3 {
  font-family: 'Essays-1743', serif;
  font-weight: 100;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 3rem;
}

h2 {
  font-family: 'Essays-1743', serif;
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}

h4 {
  font-family: 'Essays-1743', serif;
  font-weight: 100;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 3rem;
}

h5 {
  font-family: 'Essays-1743', serif;
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
  margin: 3rem 0 1rem 0 ;
}

.article-text p {
  hyphens: auto;
  text-align: justify;
  margin: 0;
  text-indent: 1rem;
  font-variant-numeric: lining-nums;
  line-height: 1;
}

.article-text a {
  color: #3a302a;
}


.small-caps {
  font-variant: small-caps;
}

.drop-cap {
  color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 3rem;
  font-size: 0px;
  float: left;
}


article p::before {
  font-family: 'Humane Bordeaux', serif;
  content: attr(data-lines);
  display: block;
  float: left;
  margin-left: -3rem;
}

figure+p,
article p:first-of-type,
article p:not([data-lines]) {
  text-indent: 0.2rem !important;
}

p:first-child::before,
article p:first-of-type::before {
  content: none;
}

.text-block:not(:nth-of-type(2)) p:first-child::first-letter {
  font-size: 2rem;
  line-height: 2.5rem;
  float: left;
  margin-right: 0.2rem;
  margin-bottom: -1rem;
  padding-right: 0;
}


.pull-quote {
  text-align: center;
  font-size: 2rem;
  font-family: 'Humane Bordeaux';
  margin: 2rem 0;
  font-weight: 100;
}

figure > img {
  border-image-slice: 25 32 25 32 fill;
  border-image-width: 13px 13px 13px 13px;
  border-image-outset: 7px 13px 10px 11px;
  border-image-repeat: round round;
  border-image-source: url('../img/1500/image-borders.png');
  max-width: 90%;
  height: auto;
}

figure:not(.cover-image) > .image-description {
  font-family: 'Cock', serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  max-width: 90%;
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure figcaption {
  font-family: 'Essays-1743-italic', 'serif';
  font-size: 0.8em;
  text-align: center;
}

.ending-paragraph {
  text-align: center;
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.4rem;
  line-height: 1.2rem;
  font-weight: 100;
  margin: 2rem 0;
  hyphens: manual;
  shape-outside: polygon(50% 100%, 0 0, 100% 0);
}

.ending-paragraph > p {
  text-align: center;
}

.ending-paragraph::before {
  content: '';
  float: left;
  width: 18vw;
  height: 10rem;
  shape-outside: polygon(0% 20%, 80% 100%, 0 100%);
}

.ending-paragraph > p::before {
  content: '' !important;
  float: right;
  width: 18vw;
  height: 10rem;
  shape-outside: polygon(100% 20%, 0% 100%, 100% 100%);
}


.animate {
  position: relative;
}

.animate::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  background-image: url(../img/1500/underline.png);
  background-size: 100% 7px;
  background-repeat: no-repeat;
  background-position-y: 0.8rem;
  transform-origin: bottom left;
  transform: scaleX(0);
  animation: underline 1s ease-out forwards;
}

@keyframes underline {
  from {
    transform: scaleX(0);
  } to {
    transform: scaleX(1);
  }
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  body.article {
    display: flex;
  }

  header.article{
    display: none;
  }

  .article-container {
    flex-basis: 100%;
    padding: 2rem 3rem;
    transition: opacity 0.5s ease-in-out;
    align-items: unset;
  }

  .cover-image > img {
    max-width: 80%;
  }

  .separator {
    margin: 2rem 0 0 0;
    text-align: justify;
  }

  #holy_line1 {
    font-size: 1.4rem;
  }

  .metadata-container {
    position: absolute;
    display: inline;
    opacity: 1 !important;
    width: 100%;
    height: 80vh;
    bottom: -100vh;
    background-color: #fae4be;
    background-image: url("../img/1500/textured-paper.png");
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    animation: slide-down 0.5s ease-in-out forwards;
    box-shadow: inset 0px 0px 60px 0px #9e752ec0, 1px -3px 20px 0px #403f3fc0
  }

  .metadata-container.active {
    bottom: 0;
    overflow-y: scroll;
    animation: slide-up 0.5s ease-in-out forwards;
  }

  @keyframes slide-up {
  0% {
    bottom: -100vh;
    display: none;
  }
  100% {
    bottom: 0;
  }
}

  @keyframes slide-down {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100vh;
    display: none;
  }
}

  .metadata-upper {
    height: 40%;
    border-image-outset: 25px;
    padding: 0;
  }


  .article-map {
    border-image-outset: 18px;
    border-image-width: 30px;
  }

  .wiki-container {
    height: 40%;
    width: 100%;
    top: 0;
    right: 0;
    padding: 0;
  }

  .article-container.covered {
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
  }

  .fab-wrapper {
    display: block;
  }

  .fab-icon {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 0;
    cursor: pointer;
    z-index: 99;
    filter: drop-shadow(0px 2px 2px #222);
    background-image: url('../img/1500/fab-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    height: 4rem;
    width: 2rem;
  }

  .fab-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 98;
    padding: 0;
    margin: 0;
    background-color: #3a302a;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    opacity: 0;
    transition: all .4s ease-in-out;
    color: white;
  }

  .fab-wrapper.active .fab-buttons{
    display: block;
  }

  .fab-wrapper.active .fab-button{
    opacity: 1;
    transition: all .4s ease-in-out;
  }

  .fab-wrapper.active #fab-style-button {
    transform: translate(0px, -100px);
  }

  .fab-wrapper.active #fab-home-button {
    transform: translate(-50px, -70px);
  }

  .fab-wrapper.active #fab-metadata-button {
    transform: translate(-70px, -20px);
  }
}

hr {
  border: none;
  height: 1rem;
  opacity: 0.9;
  background-image: url('../img/1500/line.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}



/* HOMEPAGE */

body.home {
  background-color: #fae4be;
  background-image: url("../img/1500/textured-paper.png");
  margin: 0;
  padding: 0;
  color: #3a302a;
  font-family: 'Chapbook', 'Humane Bordeaux', serif;
  letter-spacing: 0.1em;
  box-shadow: inset 0px 0px 60px 0px #9e752e5c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.home {
  width: 50vw;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.navbar {
  font-size: 1.2rem;
}

.navbar-brand {
  display: none;
}

.nav-item > a:hover {
  font-weight: bold;
  cursor: pointer;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
  display: block;
}

.dropdown-menu.show,
.dropdown-menu.dropdown-submenu {
  padding: 0pt;
  border-radius: 0% !important;
  background-color: #fae4be;
  background-image: url("../img/1500/textured-paper.png");
  border-image: url("../img/1500/upper-border.png");
  border-image-slice: 27 31 27 22;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 10px 8px 7px 7px;
  border-image-repeat: stretch stretch;

}

.dropdown-divider {
  margin: 0pt !important;
}

.dropdown-item:hover {
  background-color: #fae4be;
  background-image: url("../img/1500/textured-paper.png");
  font-weight: bold;
}

#section-hero {
  height: 90vh;
}

#section-hero::before {
  content: '';
  display: block;
  background: url('../img/1500/decoration.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 15vh;
  width: 50vw;
}

.hero-image {
  height: 75vh;
}

.hero-text {
  text-align: center;
  max-width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-text > h1 {
  font-family: 'MediaevalItalique', 'Cock', serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 1rem;
  margin-right:-1rem;
}

.hero-text > p {
  font-family: 'Cock', serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-right:-1rem;
  text-align: center !important;
  text-align-last: center !important;
}

.hero-text > p::after {
  content: '';
  display: block;
  background-image: url('../img/1500/fab-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
}

.hero-text > button {
  background-color: transparent;
  border: none;
  background-image: url("../img/1500/underline.png");
  background-size: 100% 7px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  margin: auto 0 5vh 0;
  width: fit-content;
  align-self: center;
}

.hero-text > button:hover {
  font-weight: 600;
}

.hero-text > button > a {
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.5rem;
  color: #3a302a;
  text-decoration: none;
}

body.home p {
  text-align: justify;
  text-align-last: justify;
}

.plp-row.center + .plp-row > p {
  column-count: 2;
  column-gap: 2rem;
  text-align-last: unset;
}

body.home p::first-letter {
  font-size: 2rem;
  line-height: 2.5rem;
  float: left;
  margin-right: 0.2rem;
  margin-bottom: -1rem;
  padding-right: 0;
}

.plp-row {
  display: flex;
  flex-direction: column;
}

.plp-row > button > a {
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.5rem;
  color: #3a302a;
  text-decoration: none;
}

.plp-row > button:hover {
  font-weight: 600;
}

.plp-row > button {
  background-color: transparent;
  border: none;
  background-image: url("../img/1500/underline.png");
  background-size: 100% 7px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  margin: auto 0 5vh 0;
  width: fit-content;
  align-self: center;
}


.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}
  
.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  border: none;
  border-image: url("../img/1500/upper-border.png");
  border-image-slice: 27 31 27 22;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 5px 6px 6px 6px;
  border-image-repeat: stretch stretch;
  padding: 1rem;
  align-items: center;
}

.card > img {
  height: 10rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #3a302a;
  margin-right: 1rem;
}

.card > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > .container > button {
  background-color: transparent;
  border: none;
  background-image: url("../img/1500/underline.png");
  background-size: 100% 7px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: fit-content;
  align-self: center;
}

.card > .container > button > a {
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.5rem;
  color: #3a302a;
  text-decoration: none;
}

.card > .container > button > a:hover {
  font-weight: 600;
}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-image: url("../img/1500/upper-border.png");
    border-image-slice: 27 31 27 22;
    border-image-width: 10px 10px 10px 10px;
    border-image-outset: 5px 6px 6px 6px;
    border-image-repeat: stretch stretch;
    padding: 1rem;
  }

  .slideshow-container img{
    overflow: hidden;
  }


  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #3a302a;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    text-decoration: none !important;

  }

  .prev {
    left: -10%;
  }

  .next {
    right: -10%;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    transform: scale(130%);
  }

  /* Caption text */
  .slideshow-text {
    font-family: "Humane Bordeaux", serif;
    font-size: 1.5rem;
    padding: 1rem 0;
    top:auto;
    bottom: 0;
    position: absolute;
    left: 50%;
    width: 99%;
    transform: translateX(-50%);
    text-align: center;
    transition: 0.5s;
    color: #3a302a;
    background-color: #fae4be;
    background-image: url("../img/1500/textured-paper.png");
  }

  /* Number text (1/3 etc) */
  .numbertext {
    display: none;
  }
  .dots-container{
    display: none;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 480px) {
      .prev, .next,.slideshow-text {
        font-size: 12pt !important;
      }

      .mySlides:hover .slideshow-text{
        font-size: 15pt !important;
      }

      .dot {
        height: 12px;
        width: 12px; 
      }

      .prev, .next {
        padding: 10px;
      }
    }



.plp-column {
  width: 100%;
}

body.home .map-container {
  height: 50vh;
  width: 100%;
  border-image: url("../img/1500/upper-border.png");
  border-image-slice: 27 31 27 22;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 10px 15px 10px 10px;
  border-image-repeat: stretch stretch;
  padding: 1rem;
  margin: 1rem 0 3rem 0;
}

body.home .map-container > .mapboxgl-map {
  height: 100%;
  width: 100%;
  border-image: url("../img/1500/map-border.png");
  border-image-slice: 90 90 90 90;
  border-image-width: 35px 41px 40px 40px;
  border-image-outset: 20px 23px 20px 20px;
  border-image-repeat: round;
}


footer.home > .container > .plp-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-image: url("../img/1500/upper-border.png");
  border-image-slice: 27 31 27 22;
  border-image-width: 10px 0px 0px 0px;
  border-image-outset: 5px 6px 6px 6px;
  border-image-repeat: stretch stretch;

}

#disclaimer-button:hover {
  font-weight: 600;
  cursor: pointer;
}