:root {
  --folio-height: 100vh;
  --folio-width: 50vw;
}


body {
  background-color: red;
  background-image: url("../img/textured-paper.png");
  box-sizing: border-box;
  margin: 0px !important;
}

.folio {
  height: var(--folio-height);
  width: var(--folio-width);
  margin: 0 auto;
}

/* STYLE SELECTOR */

#style-selector {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


/* LANDING */

#landing {
  height: calc(var(--folio-height) - 3rem * 2);
  padding: 3rem;
}

.map-container {
  height: 100%;
  background-color: blue;
}

#map{
  height: 100%;
  z-index: 1;
}

#titlepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}