@font-face {
  font-family: 'Times New Arial';
  src: url('../fonts/times_new_arial/timesnewarial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Univers 57 Condensed';
  src: url('../fonts/Univers-57-Condensed/Univers-57-Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'News Cycle';
  src: url('../fonts/News-Cycle/newscycle-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'News Cycle Bold';
  src: url('../fonts/News-Cycle/newscycle-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --accent-color: transparent;
  --header-width: 12rem; /* 12rem */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex: 1;
  overflow-x: hidden;
  line-height: 1.5;
  background-color: #f6f5ec;
}

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.error-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  animation: 0.7s linear 0s 1 fadeIn;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* HEADER */

header {
  transform: rotate(3deg);
  padding: 30px 0;
}

.header-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  right: 10vh;
  height: 100%;
  align-self: flex-end;
  margin-right: 3rem;
}

.fab-wrapper {
  display: none;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-bottom: auto;
}

.header-button {
  height: 20px;
  width: 20px;
  background-color: black;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.header-button-container {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: flex 0.3s;
  cursor: pointer;
  gap: 2rem;
}

.header-button-text {
  display: block;
  top: 0;
  left: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-icon img {
  display: none;
}

header:hover {
  width: 20rem;
  transition: width 0.5s ease-out
}

.metadata-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.lists-container {
  height: 50vh;
}


/* MAIN LAYOUT */

html::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 3rem 0 3rem 0;
  background-color: var(--accent-color);
  width: var(--header-width);
  height: 110%;
  top: -5%;
  left: -5%;
  border-right: 1px solid #000;
  z-index: 99;
  transition: width 0.5s ease-out
}


main {
  margin-left: var(--header-width);
}


.metadata-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1 !important;
  width: 46.5vw; 
  margin: 2rem 1.5rem
}

.article-container, .metadata-container {
}


/* METADATA */

/* layout */

.metadata-upper {
  width: 100%;
  height: 46.5vh;
  padding: 1rem;
}


/* tag lists */

.metadata-list-container.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

.metadata-list-container {
  display: none;
  writing-mode: vertical-rl;
  transform: rotate(181deg);
}

.metadata-list {
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50vh;
  max-height: 60vh;
}

.metadata-list ul {
  margin: 0;
  padding: 0;
}

.metadata-list li {
  list-style-type: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

.metadata-entry, .year-entry, .month-entry {
  font-family: 'Univers 57 Condensed', 'serif';
  font-size: 0.8rem;
  text-decoration: none;
  color: #3a302a;
}

.metadata-entry:hover, .year-entry:hover, .month-entry:hover{
  font-weight: 800;
  cursor: pointer;
  animation: font-weight 0.5s ease-in-out;
}

.metadata-entry.active, .year-entry.active .month-entry.active {
  font-weight: 800;
  text-decoration: underline;
}

.metadata-list li a:hover {
  font-weight: 800;
}

.metadata-buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  justify-content: center;
}

.metadata-buttons-container button{
  font-family: 'Univers 57 Condensed', serif;
  font-size: 1.5rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #3a302a;
  text-align: right;
}

.metadata-buttons-container button.active {
  font-weight: bolder;
}

/* date list */


/* map */


.article-map-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 115vh;
  left: 60vw;
}

.article-map {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.article-text .text-block:nth-of-type(2)::before{
  content: '';
  float: right;
  height: 50rem;
  aspect-ratio: 1 / 1;
  shape-outside: ellipse(302px 353px at 654px 425px);
}

.text-block p {
  margin-right: 20rem; /* Adjust the margin to provide space for the circle */
}


.article-map-container>canvas {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s ease 0s;
}

.marker {
  background-image: url('../img/1500/marker.png');
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}

.marker:hover {
  width: 1.8rem;
  height: 1.8rem;
}

.marker.plant {
  background-image: url('../img/1500/marker-plant.png');
  background-size: cover;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.marker.plant:hover {
  width: 2.3rem;
  height: 2.3rem;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.article-map-container,
.wiki-container {
  height: 100%;
  width: 100%;
}

/* WIKI */

.wiki-container {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  background-color: transparent;
  flex-direction: row;
  gap: 1rem;
  height: 40vh;
  width: 40vw;
  background-color: var(--accent-color);
}

.wiki-thumbnail {
  max-height: 40vw;
}

.wiki-extract {
  max-height: 40vw;
  overflow-y: scroll;
  color: #000;
}

.wiki-close {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('../img/1500/close_button.png');
  background-size: cover;
}

.wiki-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #000;
}

.wiki-readmore {
  font-family: 'EB Garamond', 'serif';
  text-align: center;
  text-decoration: none;
  color: #000;
}

.wiki-readmore:hover {
  cursor: pointer;
  text-decoration: underline;
}

.wiki-loading p {
  font-family: 'Chapbook', serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* ARTICLE */

.article-container {
  color: black;
}

.cover-page {
  height: 100vh;
}

.titles {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.cover-image {
  display: flex;
  flex-direction: row;
  max-width: 100vh;
  height: 100%;
  margin: 0;
}

.cover-image > img {
  object-fit: cover;
  z-index: -10;
  max-width: 100%;
  height: 100%;
  margin-left: 5rem;
  transform: rotate(0.8deg);
}

.cover-image > .image-description{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}


.cover-image > .image-attribution{
  writing-mode: vertical-lr;
  padding-top: 1rem;
}

.article-date {
  font-family: 'Univers 57 Condensed', 'serif';
  position: absolute;
  bottom: 2rem;
  right: 0;
  letter-spacing: 3rem;
}


.cover-page>.titles {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-end;
  mix-blend-mode: exclusion;
}

.titles > *, .article-date {
  margin: 0 10rem 0 0;
}

.article-title {
  font-family: 'Univers 57 Condensed', 'serif';
  font-size: 10rem;
  letter-spacing: 0.2em;
  margin: 0 8rem 0 0;
  text-transform: uppercase;
  transform: rotate(0.5deg);
  text-align: justify;
}

.article-title::before {
  content: attr(data-text);
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #f6f5ec;
  z-index: -1;
}

.by {
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.article-author {
  font-family: 'Times New Arial', serif;
  font-size: 3em;
  font-weight: 100;
  font-style: italic;
  transform: rotate(0.7deg);
}

.article-subtitle {
  font-family: 'News Cycle Bold', serif;
  font-size: 1.7em;
  font-weight: 100;
  letter-spacing: 0.2rem;
  transform: rotate(-0.5deg);
}


.cover-page ~ * {
  padding: 0 10vw;
}

.text-block {
  column-count: 4;
}

.article-text .text-block:nth-of-type(2){
  column-count: 1 !important;
}

.pull-quote {
  font-family: 'Times New Arial', serif;
  font-size: 3rem;
  text-transform: capitalize; 
}

.pull-quote:nth-of-type(even) {
  font-family: 'Times New Arial', serif;
  font-size: 3rem;
  text-transform: capitalize; 
  text-align: right;
}

.pull-quote:nth-of-type(even)::after{
  content: attr(data-text);
  display: block;
  position: absolute;
  font-family: 'Times New Arial', serif;
  font-size: 3rem;
  text-transform: capitalize; 
  transform: rotate(94deg) translate(-20%, -100%);
  opacity: 0.3;
  z-index: -99;
}

.pull-quote:nth-of-type(odd)::before{
  content: attr(data-text);
  display: block;
  position: absolute;
  font-family: 'Times New Arial', serif;
  font-size: 3rem;
  text-transform: capitalize; 
  left: 0;
  transform: rotate(90deg) translate(20%);
  opacity: 0.3;
  z-index: -99;
}

.pull-quote:nth-of-type(even)::before{
  content: attr(data-text);
  display: block;
  position: absolute;
  font-family: 'Times New Arial', serif;
  font-size: 3rem;
  text-transform: capitalize; 
  transform: rotate(-2deg) translateY(-100%);
  opacity: 0.3;
  z-index: -99;
}

.pull-quote:nth-of-type(odd)::after{
  content: attr(data-text);
  display: block;
  position: absolute;
  font-family: 'Times New Arial', serif;
  font-size: 3rem;
  text-transform: capitalize; 
  transform: rotate(3deg) translateY(-50%);
  opacity: 0.3;
  z-index: -99;
}


.article-text p {
  hyphens: auto;
  margin: 0;
  line-height: 1.2rem;
  text-indent: 1.5rem;
  font-family: 'News Cycle', serif;
}

.text-block:nth-of-type(2) {
  margin-top: 10vh;
}

.pull-quote:first-of-type {
  margin-top: 10vh;
}

figure > img {
  max-width: 70%;
  height: auto;
}

figure:not(.cover-image) {
  text-align: center;
  margin: 3rem 0 2rem;
}

figure figcaption {
  font-family: 'Essays-1743-italic', 'serif';
  font-size: 0.8em;
}

figure:not(.cover-image) figcaption {
  font-family: 'Univers 57 Condensed', 'serif';
  font-size: 2rem;
  font-weight: bolder;
  text-align: left;
}

figure:not(.cover-image) figcaption {
}

.ending-paragraph {
  text-align: center;
  font-family: 'Humane Bordeaux', serif;
  font-size: 1.4rem;
  line-height: 1.2rem;
  font-weight: 100;
  margin: 2rem 0;
}

.animate {
  background-color: #000;
  color: #f6f5ec;
}

span.tag {
  text-shadow: 0px 0px 2px #0e0d0d4d;
}

span.tag:hover {
  cursor: pointer;
}

@keyframes bgcolor {
  from {
    background-color: #ffffff;
  }

  to {
    background-color: #cccc00;
  }
}



/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  header{
    display: none;
  }



  .article-container {
    flex-basis: 100%;
    padding: 2rem 3rem;
    transition: opacity 0.5s ease-in-out;
  }

  .cover-image > img {
    max-width: 80%;
  }

  .metadata-container {
  
    position: absolute;
    display: inline;
    width: 100%;
    height: 80vh;
    bottom: -100vh;
    background-color: #fae4be;
    background-image: url("../img/1500/textured-paper.png");
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    animation: slide-down 0.5s ease-in-out forwards;
    box-shadow: inset 0px 0px 60px 0px #9e752ec0, 1px -3px 20px 0px #403f3fc0
  }

  .metadata-container.active {
    bottom: 0;
    overflow-y: scroll;
    animation: slide-up 0.5s ease-in-out forwards;
  }

  @keyframes slide-up {
  0% {
    bottom: -100vh;
    display: none;
  }
  100% {
    bottom: 0;
  }
}

  @keyframes slide-down {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100vh;
    display: none;
  }
}

  .metadata-upper {
    height: 40%;
    border-image-outset: 25px;
    padding: 0;
  }

  .horizontal-line {
    margin-top: 2rem;
  }

  .article-map {
    border-image-outset: 18px;
    border-image-width: 30px;
  }

  .wiki-container {
    height: 40%;
    width: 100%;
    top: 0;
    right: 0;
    padding: 0;
  }

  .article-container.covered {
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
  }

  .fab-wrapper {
    display: block;
  }

  .fab-icon {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 0;
    cursor: pointer;
    z-index: 99;
    filter: drop-shadow(0px 2px 2px #222);
    background-image: url('../img/1500/fab-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    height: 4rem;
    width: 2rem;
  }

  .fab-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 98;
    padding: 0;
    margin: 0;
    background-color: #3a302a;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    opacity: 0;
    transition: all .4s ease-in-out;
    color: white;
  }

  .fab-wrapper.active .fab-buttons{
    display: block;
  }

  .fab-wrapper.active .fab-button{
    opacity: 1;
    transition: all .4s ease-in-out;
  }

  .fab-wrapper.active #fab-style-button {
    transform: translate(0px, -100px);
  }

  .fab-wrapper.active #fab-home-button {
    transform: translate(-50px, -70px);
  }

  .fab-wrapper.active #fab-metadata-button {
    transform: translate(-70px, -20px);
  }
}