@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Jomolhari&display=swap');

body {
  background-color: #D8CAAD;
  font-family: 'Fanwood Text', serif;
  letter-spacing: 1px;
}

article > h1 {
    text-transform: uppercase;
    font-family: 'Jamolhari', serif;
}

article p {
    hyphens: auto;
    text-align: justify;
    margin: 0;
}


img {
    max-width: 30vw;
}

figure {
    text-align: center;
}

		.animate {
			animation-name: bgcolor ;
			animation-duration: 0.75s ; 
			animation-iteration-count: 3;
			animation-fill-mode: backwards;
		}

		@keyframes bgcolor {
			from { background-color: #ffffff;  }
			to { background-color: #cccc00; }
		}