:root {
  --folio-height: 100vh;
  --folio-width: 50vw;
}


body {
  background-color: green;
  box-sizing: border-box;
  margin: 0px !important;
}

.folio {
  height: var(--folio-height);
  width: var(--folio-width);
  margin: 0 auto;
}

/* STYLE SELECTOR */


/* LANDING */

#landing {
  height: calc(var(--folio-height) - 3rem * 2);
  padding: 3rem;
}

.map-container {
  height: 100%;
}

#map{
  height: 100%;
  z-index: 1;
}

#titlepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}