

/* HOME STYLE */ 
@font-face{
    font-family: "Pirulen RG";
    src: url('../fonts/future/pirulen/pirulen-rg.otf');
}

body {
    width: 100vw;
    /*  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) */
    /* background-image: url("../forest.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}


/* CSS */
button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

button:hover {
  color: #174ea6;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button a {
    color: #3c4043;
    text-decoration: none;
}

a {
    font-weight: 500;
    color: #3c4043;
}

p {
    margin: 0;
}




/* STYLE NAVBAR */
.navbar{
    order:2;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    height: 10vh;
}

.navbar .container-fluid {
    width: 60%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
}

.navbar-collapse.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}

.navbar-brand{
    width: 30%;
    margin-right: 0px;
    font-family: "Pirulen RG";
}

.me-auto {
    margin-right: 0px !important;

}


main.home {
  order: 1;
  max-height: 87vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
}

main.home h2 {
    font-size: 36pt;
    font-family: "Pirulen RG";
}

main.home p{
    font-size: 12pt;
    padding-right: 10vw;
    margin: 2rem 0px;

}


.hero-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center; 
    justify-content: center;
    background-color: rgb(0,108,75);
    color: #f2f2f2;
}

.hero-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .hero-button-container {
    flex: column;
    flex-grow: 1;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
  }

  .hero-text-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-text-container p{
    font-size: 12pt; 
    text-transform: uppercase;
  }

  .hero-text-container h1 {
    font-size: 60pt;
    font-family: "Pirulen RG";
    padding: 0pt;
  }

  .size-slider {
    position: absolute !important;
    top: 1rem;
    right: 1rem;
    height: 1.5rem;
    width: 4rem;
    height: 4rem;
    padding: 1.5rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    /* non funziona:cambia immagine */
    background-size: cover;
    transition: width 0.5s ease;
    z-index: 10000;
    
  }

  .size-slider:hover{
    outline: none;
    background-color: transparent;
    box-shadow: none!important;
  }
  .size-slider:focus{
    border: none;
  }



.external> section > .plp-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1;
    height: 87vh;
    align-items: center;
    justify-content: center;
}

.plp-row{
    width: 100%;
    padding: 0px 2vw;
}

.button-right{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.theme {
    max-height: 87vh;
    padding: 12pt 0px;
}

.theme > .plp-row.center{
    height: 10%;
    display: flex;
    align-items: center;
}

.theme > .plp-row{
    height: 20%;
    display: flex;
    align-items: center;

}




/* CARD */
/* stylying cards */

.theme > .card-container{
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    display: flex !important;
    flex-flow: column !important;
    align-items: center !important;
    justify-content: space-around !important;
    font-size: 10pt;
    height: 100%;
    text-align: left;
    width: 24%;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    /* background-color: rgba(255, 255, 255, 1); */
  }

  .container {
    padding: 2pt;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card img{
    width: auto;
    height: 50%;
    overflow: hidden;
    padding: 4px;
    border-radius: 16px;
  }

  .card h3 {
    font-weight: 700;
    font-size: 16pt !important;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
  }

  .card p{
    max-height: 10vh;
    overflow-y: scroll;
  }

/* SLIDESHOW */

.issues {
    padding: 12pt 0px;
    height: 87vh;
}

.issues > .plp-row.center {
    height: 15%;
    display: flex;
    align-items: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 80vh;
  position: relative;
  margin: auto;
  
  }

  .slideshow-container img{
    overflow: hidden !important;
    height: auto;
    width: 100%;
    border-radius: 20px;
  }


  /* Hide the images by default */
  .mySlides {
    display: none;
    border-radius: 20px;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    color:rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none !important;

  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgb(255,255,255, 0.6);
    color: rgba(0, 0, 0, 0.6) !important;
  }

  /* Caption text */
  .slideshow-text {
    font-size: 16pt;
    padding: 8px 12px 16px 12px;
    top:auto;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.6);
    color:rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .mySlides:hover .slideshow-text{
    background-color: rgb(255,255,255, 0.6);
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: bold;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(101, 101, 101, 0.6);
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
  }

  .dots-container{
    text-align:center;
    height: 5%;
  }

  span.dot.active, .dot:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  .map-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 80vw;
  }


  .map {
    height: 100%;
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 480px) {
      .prev, .next,.slideshow-text {
        font-size: 12pt !important;
      }

      .mySlides:hover .slideshow-text{
        font-size: 15pt !important;
      }

      .dot {
        height: 12px;
        width: 12px; 
      }

      .prev, .next {
        padding: 10px;
      }
    }


  



footer.home{
    display: none;
}



/* DISCLAIMER*/

.disclaimer-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
  }
  
  .modal-content {
    display: none;
    background-color: #f2f2f2;
    width: fit-content;
    height: fit-content;
    max-width: 60vw;
    margin: auto;
    padding: 0;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 2pt;
    outline: black solid 1pt;
    outline-offset: -5pt ;
  }
  
  .modal-content > ul {
    text-align: left;
  }
  
  .disclaimer-container.visible .modal-content {
    display: flex;
  }
  
  .modal-content > p:first-of-type {
    padding-top: 1rem;
  }
  
  .modal-content p {
    text-align: justify;
    padding: 0 2rem;
  }
  
  
  .modal-close {
    text-align: center;
    color: black;
    text-decoration: underline;
    transition: text-decoration-color 300ms;
    margin: 2rem 0 ;
  }
  
  .modal-close:hover {
    cursor: pointer;
    color: rgb(227,27,18); 
    text-decoration: none;
  }
  

  /* ARTICLE PAGE */

  body.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
  }

  main.article{
    font-family: 'Poppins', sans-serif;
  }

  .fab-wrapper{
    display: none;
  }



  main.article {
    order:2;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    margin: 1vw;
    max-height: 87vh;
  }

 
  .loading {
    display: none;
  }

  .article-container {
    order:2;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-height: 87vh;
    overflow-y: scroll;
    margin: 24pt 21pt;
    border-radius: 20px;
  }



.cover-page {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,108,75);
    border-radius: 20px;
}

.titles {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.cover-image {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px;
}

.cover-image img{
    max-width: 80%;
    height: auto;
}

.cover-page h1, h2, h3, h4 {
    margin: 0px;
}




/* Article */

h1.article-title {
  /* non funziona: decidere font */
  font-size: 36pt !important;
}

.article-text img{
  max-width: 80%;
  height: auto;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
}

.image-description {
  order:3;
  font-style: italic;
  font-size: 10pt;
  text-align: center;
}
.image-attribution {
  order:2;
 color: #3a302a;
 font-size: 8pt;
}

.article-container p {
    line-height: 16pt;
    margin-bottom: 16pt;
}

span.tag[data-wiki] {

    font-weight: bold;
    opacity: 1;
  }
  
  span.tag:hover[data-wiki] {
    cursor: pointer;
    text-decoration: underline;
  }

span.tag {
    font-family: 'Courier New', Courier, monospace;

}

/* METADATA */

.metadata-container{
    order:3;
    width: 50%;
    display: flex;
    max-height: 87vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

.metadata-upper{
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 44vh;
    justify-content: center;
    align-items: center;    
}

.metadata-bottom{
    height: 44vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    justify-content: center;
    align-items: center; 
}

.metadata-list-container{
    max-height: 44vh;
    width: 50%;
}

.metadata-list-container{
    width: 100%;
}

.metadata-bottom .metadata-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    width: 50%;

}

.metadata-buttons-container button{
    margin: 10px;
    max-width: 50%;
}

/* tag lists */

.lists-container {
    height: 44vh;
    width: 50%;
  }
  
  .lists-container::-webkit-scrollbar-thumb {
    width: 3px;
  }
  
  .metadata-list-container.active {
    display: flex;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
    height: 100%;
    width: 100%;
  }
  
  .metadata-list-container {
    display: none;
  }
  
  .metadata-list {
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow-y: scroll;
  }
  
  .metadata-list ul {
    margin: 0;
    padding: 0;
  }
  
  .metadata-list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .metadata-entry {
    font-size: 12pt;
    text-decoration: none;
    color: #3a302a;
  }
  
  .metadata-entry:hover {
    font-weight: 800;
    cursor: pointer;
  }
  
  .metadata-entry.active {
    font-weight: 800;
    text-decoration: underline;
  }
  
  .metadata-entry[data-wiki^="https"]::after {
    content: '*';
    display: inline-block;
  }
  
  .metadata-list li a:hover {
    font-weight: 800;
  }
  
  .metadata-list li {
      /* width: fit-content; */
      margin: 0;
      padding: 0;
      break-inside: avoid-column;
  }
    
  
  /* dates */
  
  .dateList {
    overflow: scroll;
  }
  
  .date-year {
    break-inside: avoid-column;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .year-entry {
    line-height: 1rem;
    text-decoration: none;
    color: #3a302a;
  }
  
  .month-entry {
    text-indent: 3rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: #3a302a;
    transform:rotate(1deg);
    text-transform: capitalize;
  }
  
  
  .year-entry:hover, .month-entry:hover{
    font-weight: 800;
    cursor: pointer;
  }


/* WIKI */

.wiki-container {
    display: none;
    position: relative;
    z-index: 1;
    background-color: transparent;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
  }
  
  .wiki-container.active {
    display: flex;
  }
  
  .wiki-thumbnail-container {
    display: none;
    flex: 0 0 40%;
    padding-left: 2rem;
    justify-content: center;
    max-width: 40%;
    height: auto;
  }

  .wiki-thumbnail-container.active {
    display: flex;
  }
  
  .wiki-thumbnail {
    height: auto;
    width: 100%;
  }
  
  .wiki-text{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    flex: 0 0 60%;
    padding-right: 2.5rem;
    max-height: 100%;
    max-width: 60%;
  }
  
  .wiki-extract {
    max-height: 30vh;
    overflow-y: scroll;
    text-indent: 1rem;
    text-align: justify;
  }
  
  .wiki-readmore {
    text-align: center;
    text-decoration: none;
    color: #3a302a;
    text-decoration: underline rgba(58,48,42, 0);
    transition: text-decoration-color 300ms;
    margin-top: 2rem;
  }
  
  .wiki-readmore:hover {
    cursor: pointer;
  }
  
  .wiki-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('../img/future/close.png');
    background-size: cover;
  }
  
  .wiki-loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .wiki-loading p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }





/* HEADER ARTICLE */
header.article{
    order:3;
    display: none;
}
.header-container {
    order:-1;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 0.5rem;
    border-radius: 30px;
}


.header-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0.5rem;
}

.header-icon {
    display: none;
}


/* media home */
@media only screen and (min-width:768px) and (max-width: 1024px){
    .hero-text h1{
        font-size: 48pt;   
    }
  }
@media only screen and (min-width:481px) and (max-width: 767px){
    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-text h1{
        font-size: 48pt;
    }
    .hero-text p {
        text-align: center;
        padding-right: 0px !important;
    }
    main.home h2 {
        font-size: 16pt;
    }

    .card-container {
        display: flex;
        overflow-y: scroll;
        flex-direction: column !important;
        justify-content: flex-start;
        
    }

    .card{
        width: 100% !important;
        margin-bottom: 5pt;
    }

}


@media screen and (max-width:480px) {
    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-text h1{
        font-size: 36pt;
    }
    .hero-text p {
        font-size: 10pt;
        text-align: center;
        padding-right: 0px !important;
    }

    main.home h2 {
        font-size: 16pt !important;
        text-align: center;
    }

    main.home p {
        font-size: 10pt;
        padding-right: 0%;
    }

    .theme > .card-container {
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
    }

    .card-container {
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        justify-content: flex-start !important;
    }

    .card{
        width: 100% !important;
        margin-bottom: 5pt;
    }

  main.home {
    background-color: transparent;
  }

  .slider {
    margin: 10px 0px;
    border-radius: 20px;
  }

  .slider:not(.hero-image.slider) {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .size-slider{
    display: none;
  } 

}


.hero-text.sized{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-text.sized h1{
  font-size: 36pt;
}
.hero-text.sized p {
  font-size: 10pt;
  text-align: center;
  padding-right: 0px !important;
}

main.home.sized h2 {
  font-size: 16pt !important;
  text-align: center;
}

main.home.sized p {
  font-size: 10pt;
  padding-right: 0%;
}

.theme > .card-container.sized {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

.card-container.sized {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start !important;
}

.card.sized{
  width: 100% !important;
  margin-bottom: 5pt;
}

main.home.sized {
background-color: rgba(0, 0, 0, 0);
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0);
border-radius: 0px;
}

.slider.sized {
margin: 10px 0px;
border-radius: 20px;
}

.slider:not(.hero-image.slider).sized {
  background-color: rgba(255, 255, 255, 0.9);
}

main.home.sized .map-container {
  max-width: 100%;
}

main.home.sized::-webkit-scrollbar {
  display: none;
}

main.home.plp-row.external{
  padding: 0px !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
main.home {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* ARTICLE RESPONSIVENESS */
@media only screen and (min-width:768px) and (max-width: 1024px){
  
  .article-container {
    width: 70%;
  }

  .media-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .metadata-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .metadata-buttons-container{
    height: 50px;
    width: 100% !important;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around;
  }

  .lists-container{
    width: 100% !important;
    margin-top: 50px;
    margin-left: 20px;
  }

}


@media only screen  and (max-width: 767px){

  body.article{
    padding: 5px;
  }
  main.article {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .article-container {
    width: 100%;
    height: 50%;
    
  }

  .article-text img{
    max-width: 90%;
    height: auto;
  }

  .metadata-container {
    width: 100%;
    height: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .metadata-bottom {
    width: 100%;
    height: 49%;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: flex-end;
  }

  .metadata-buttons-container{
    height: 50px;
    width: 100% !important;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around !important;
  }

  .metadata-list-container {
    width: 100%;
    justify-content: center;
  }

  .metadata-list {
    column-count: 2;
  }

  /* sistemare js per farlo rimanere basso */

  .lists-container{
    display: none;
    height: 49%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: scroll;
  }

  .wiki-container {
    display: none;
    position: relative;
    z-index: 1;
    background-color: transparent;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}
}

@media only screen and (max-width: 480px){
  .article h1{
    font-size: 24pt;
  }
}

/* .sized */ 
body.article.sized{
  align-items: flex-start;
}
main.article.sized {
  margin-left: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main.article.sized .article-container {
  width: 100%;
  height: 50%;
}

main.article.sized .article-text img{
  max-width: 90% !important;
  height: auto;
}

/* non funziona: da spostare sopra */
.main-article-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main.article-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* finqui */

main.article.sized .metadata-container {
  width: 100%;
  height: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.article.sized .metadata-bottom {
  width: 100%;
  height: 49%;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: flex-end;
}

main.article.sized .metadata-buttons-container{
  height: 50px;
  width: 100% !important;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-around !important;
}

main.article.sized .metadata-list-container {
  width: 100%;
  justify-content: center;
}

main.article.sized .metadata-list {
  column-count: 2;
}

/* sistemare js per farlo rimanere basso */

main.article.sized .lists-container{
  display: none;
  height: 49%;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
}

main.article.sized .wiki-container {
  display: none;
  position: relative;
  z-index: 1;
  background-color: transparent;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

