.article-map-container{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .article-map-container.active{
    visibility: visible;
    opacity: 1;
  }
  
  .article-map-container,
  .wiki-container {
    height: 100%;
    width: 100%;
  }
  
  .metadata-upper {
    border-image: url("../img/1500/upper-border.png");
    border-image-slice: 27 31 27 22;
    border-image-width: 10px 10px 10px 10px;
    border-image-outset: 10px 15px 10px 10px;
    border-image-repeat: stretch stretch;
  }
  
  .article-map {
    height: 100%;
    width: 100%;
    border-image: url("../img/1500/map-border.png");
    border-image-slice: 90 90 90 90;
    border-image-width: 35px 41px 40px 40px;
    border-image-outset: 20px 23px 20px 20px;
    border-image-repeat: round;
  }
  