/* HOMEPAGE */

/* ricordati di raccogliere tutti i button in un unico tipo (specifica per quello nell'hiro position absolute e per quello in .center-container no */
/* cover-title, nav-brand */
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

/* buttons */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

/* cover-h2 */
@import url(https://db.onlinewebfonts.com/c/3491179786445a96ef3f1458c2d1796f?family=Gloucester+Old+Style+W01);
@font-face {
  font-family: "Gloucester Old Style W01";
  src: url("https://db.onlinewebfonts.com/t/3491179786445a96ef3f1458c2d1796f.eot");
  src: url("https://db.onlinewebfonts.com/t/3491179786445a96ef3f1458c2d1796f.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/3491179786445a96ef3f1458c2d1796f.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/3491179786445a96ef3f1458c2d1796f.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/3491179786445a96ef3f1458c2d1796f.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/3491179786445a96ef3f1458c2d1796f.svg#Gloucester Old Style W01")format("svg");
}

/* indexh3 */
@font-face {
  font-family: "Cooper Black Regular";
  src: url("../fonts/pulp/cooper-black-regular_okoTv/Cooper-Black-Regular/Cooper-Black-Regular.ttf");
}

@font-face {
  font-family: "Wichita Serial Bold";
  src: url("../fonts/pulp/wichita-serial/wichita-serial-bold.ttf");
}

@font-face {
  font-family: "Goudy Old Style";
  src: url("../fonts/pulp/goudy-old-style/goi_____.ttf");
  src: url("../fonts/pulp/goudy-old-style/GOUDOS.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Theano Old Style";
  src: url("../fonts/pulp/Theano-Old-Style/TheanoOldStyle-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Goudy Old Style";
  src: url("../fonts/pulp/goudy-old-style/GOUDOSB.TTF");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Theano Old Style";
  src: url("../fonts/pulp/goudy-old-style/GOUDOSI.TTF");
  font-weight: normal;
  font-style: italic;
}


/* body */
/* @font-face {
  font-family: 'EB Garamond', serif;
  src: url("../fonts/pulp/Theano-Old-Style/TheanoOldStyle-Regular.ttf");
} */
/* body italic */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');


body, html {
  font-family: 'Theano Old Style';
  /* font-family: 'EB Garamond', serif !important; */
  /* font-family: "Goudy Old Style" !important; */
  font-weight: 500 !important;
  font-size: 10pt !important;
  line-height: 11pt !important;
  text-align: justify;
}

* {box-sizing:border-box}


/* styling navbar */
  /* color */
  .navbar a {
    text-decoration: none !important;
  }

  .navbar a:hover{
    color: rgb(227, 192, 172) !important;

  }

  .navbar.navbar-expand-lg {
    background-color:rgb(227,27,18);
  }

  /* logo */
  .navbar.navbar-expand-lg .navbar-brand {
    font-family: 'Rammetto One', sans-serif;
    font-weight: 700;  
    color: rgb(227, 192, 172) !important;
    -webkit-text-stroke: 0.1pt black;
  }

  .navbar.navbar-expand-lg li {
    font-family: 'Jost', sans-serif;
    font-size: 10pt;
  }


  /* navbar internal dropdown */
  .dropdown-menu li {
      position: relative;
      }
      .dropdown-menu .dropdown-submenu {
      display: none;
      position: absolute;
      left: 100%;
      top: -7px;
      }
      .dropdown-menu .dropdown-submenu-left {
      right: 100%;
      left: auto;
      }
      .dropdown-menu > li:hover > .dropdown-submenu {
      display: block;
      }

      .dropdown-menu.show, .dropdown-menu.dropdown-submenu{
        padding: 0pt;
        border-radius: 0% !important;
        background-color: rgb(207,176,119);

      }

      .dropdown-divider {
        margin: 0pt !important;
      }

      .dropdown-item:hover {
        background-color: rgb(227,27,18) !important;
        color: rgb(227, 192, 172) !important;
      }

.home section:not(#section-hero) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* styling main */

  /* The hero image */
    .hero-image {
      /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../forest.jpg");

      /* Set a specific height */
      height: 100vh;


      /* Position and center the image to scale nicely on all screens */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    /* Place text in the middle of the image */
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      
    }


    .hero-text h1{
      font-family: 'Rammetto One', sans-serif;
      font-weight: 700;  
      color: rgb(227,27,18);
      font-size: 78pt;
      -webkit-text-stroke: 0.4pt black;
    }

    .hero-image p{
      font-size: 28pt;
      font-family: 'Gloucester Old Style W01';
      line-height: 30pt;
      font-weight: 700;
      color: black;
      -webkit-text-stroke: 0.12pt black;
      text-transform: uppercase;
    }


    /* responsive hero */

    @media only screen and (max-width: 480px) {
      .hero-text h1{
        font-size: 48pt;
        -webkit-text-stroke: 0.4pt black;
      }
  
      .hero-image p{
        font-size: 17pt;
        line-height: 19pt;
        text-transform: uppercase;
      }
    }

    a {
      color: black !important;
      text-decoration: underline !important;
      
    }
    
    a:hover {
      color: rgb(227,27,18) !important;
      text-decoration: none !important;
    }

  /* styling buttons */

    button{
      position: relative;
      display: inline-block;
      padding: 10px 25px;
      background-color: rgb(207,176,119);
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      font-family: 'Jost', sans-serif;
      font-size: 10pt;
      font-weight: 400; 
      border: 3px solid black;
      outline: 1px solid black;
      outline-offset: -5px;
    }



    main button a{
    text-decoration: none !important;
    color: black !important;
    }

    main button:hover {
      background-color: rgb(227,27,18);
      border-color: rgb(227, 192, 172);
      outline-color: rgb(227, 192, 172);
      color:rgb(227, 192, 172) !important;
    }

    main button:focus{
      background-color: rgb(227,27,18);
      border-color: rgb(227, 192, 172);
      outline-color: rgb(227, 192, 172);
      color:rgb(227, 192, 172) !important;
    }


    main button:hover a{
      color:rgb(227, 192, 172) !important;
    }
    /* positioning */ 

      .center{
        text-align: center;
      }

      .plp-column {
        width: 100%;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

      }

      .plp-row {
        width: 100%;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }



      .plp-row > p {
        display: inline !important;

      }

      .plp-column.external {
        padding: 29pt;
      }

      .plp-row.external {
        border: black solid 1pt;
        outline: black solid 2pt;
        outline-offset: 2pt;
        padding: 27pt 19pt;
      }

      .border-btm {
        padding: 12pt 19pt;
        border-bottom: black solid 1pt;
      }

      .margin-top{
        padding-top: 0%;
      }
      /* non funziona: comportamento bottone */
      .button-right {
        justify-content: space-between;

      }

      .button-right p {
        max-width: 85%;
        column-count: 2;
        column-gap: 12pt;
        column-rule: #000000 solid 1pt;
      }
      /* non funziona */
      @media only screen and (min-width: 481px) and (max-width: 760px){
        .button-right {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 100%;
        }

        .button-right > p {
          width: 90% ;
          column-count: 1;
        }
      }

      @media only screen and (max-width: 480px) {
        .plp-column.external {
          padding: 19pt;
        }

        .plp-row.external{
          padding: 16pt 12pt;
        }

        .button-right p {
          width: 100%;
          column-count: 1;
        }
        .button-right {
          justify-content: space-around;
        }
      }

    /* stylying cards */

      .card {
        display: flex !important;
        flex-flow: column !important;
        justify-content: space-between !important;
        min-height: 120pt;
        max-height: 300pt;
        text-align: justify;
        width: 24% !important;
        border-radius: 0% !important;
        border: black solid 2pt !important;
        padding: 0% !important;
        position:relative;
      }


      .card img {
        display: none;
      }

      .container {
        padding: 2pt;
        height: 100%;
      }
    
      .card-img img{
        overflow: hidden;
        padding: 4px;
        border: 3px black solid;
        border-radius: 0% !important;
      }
    
      .card h3 {
        height: 20%;
        font-family: "Cooper Black Regular" !important;
        font-size: 18pt !important;
        text-transform: uppercase;
        margin-bottom: 0px;
      }

      .card p {
        height: 50%;
      }

      .card button {
        height: 20%;
        position: relative;
        float: right !important;
        margin-right: 5px;
        margin-bottom: 5px;
        display: flex !important;
        flex-flow: column !important;
      }

      @media only screen and (max-width: 480px){
        .card{
          width: 100% !important;
        }

        .container {
          justify-content: center !important;

        }

      }

      @media only screen and (min-width:481px) and (max-width: 768px){
        .card{
          width: 49% !important;
          margin-bottom: 2pt;
        }
      }



    
    
    /*styling h2 */
      .plp-row.center h2 {
        /* font-family: "Cooper Black Regular"; */
        font-family: "Theano Old Style";
        font-size: 36pt!important;
        font-weight: 700;
        letter-spacing: 0cm;
        font-variant: small-caps;
        /* text-transform: uppercase; */
      }

      .plp-row.center h2::first-letter{
        text-transform: capitalize;
      }

      @media only screen and (max-width: 480px) {
        h2 {
          font-size: 22pt !important;
        }
      }



      

       

  .home .map-container {
    display: flexbox;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 80vw;
    border: #000000 solid 1pt;
    outline: #000000 solid 1pt;
    outline-offset: 3pt;
  }


  .home .map {
    height: 100%;
  }



  /* Slideshow container */
.issues {
  align-items: center;
  gap: 10pt;
}

  .slideshow-container {

    max-width: 70vw;
    position: relative;
    margin: auto;
    outline: black solid 2pt ;
    outline-offset: 3pt;
  }

  .slideshow-container img{
    overflow: hidden;
  }


  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background-color: rgb(227, 192, 172);
    color:black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none !important;

  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgb(227,27,18);
    color: rgb(227, 192, 172) !important;
  }

  /* Caption text */
  .slideshow-text {
    font-family: "Cooper Black Regular";;
    font-size: 16pt;
    padding: 8px 12px 16px 12px;
    top:auto;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    background-color: rgb(227, 192, 172);
    color:black;
  }

  .mySlides:hover .slideshow-text{
    background-color: rgb(227,27,18);
    color: rgb(227, 192, 172) !important;
    font-size: 24pt;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(227, 192, 172);
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dots-container{
    text-align:center
  }

  .active, .dot:hover {
    background-color: rgb(227,27,18);
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 480px) {
      .prev, .next,.slideshow-text {
        font-size: 12pt !important;
      }

      .mySlides:hover .slideshow-text{
        font-size: 15pt !important;
      }

      .dot {
        height: 12px;
        width: 12px; 
      }

      .prev, .next {
        padding: 10px;
      }
    }



/* footer */

footer {
  background-color: rgb(227, 192, 172) ;
}

footer h5 {
  font-family: 'Rammetto One', sans-serif;
  font-weight: 700;  
  color: rgb(227,27,18) !important;
  -webkit-text-stroke: 0.1pt black;
}


.style-selector-content h1 {
  font-size: 36pt;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Gloucester Old Style W01';
  line-height: 30pt;
  font-weight: 700;
  color: black;
  -webkit-text-stroke: 0.12pt black;
  text-transform: uppercase;

}


/* ARTICLE */

.loading {
  display: none;
}

body{
  margin: 0;
}

body.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header.article{
  width: 100%;
}

main.article {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fab-wrapper {
  width: 100%;
}


/* METADATA */

.metadata-container {
  order:2;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 100vh;
  padding: 16pt 27pt;
}
@media only screen and (max-width:480px){
  .metadata-container {
    width: 100%;
  }
}

.metadata-container .metadata-upper{
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 40vh;

}

.metadata-container .metadata-bottom {
  order: 1;
  width: 100%;
  margin-bottom: 11pt;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}

.metadata-buttons-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 11pt;
}


.metadata-buttons-container button{
  width: 32%;
  background-color: white;
}

@media only screen and (min-width:481px) and (max-width: 768px){
  .metadata-buttons-container{
    flex-direction: column;
  }
  .metadata-buttons-container button{
    width: 100% ;
    margin-bottom: 2pt;
  }
}


/* tag lists */

.lists-container {
  max-height: 100vp;
}

.lists-container::-webkit-scrollbar-thumb {
  width: 3px;
}

.metadata-list-container.active {
  display: block;
  padding: 10pt 5pt;
  animation: fadeIn 0.5s ease-in-out;
  background-color: white;
  border: #000000 solid 1pt;
  outline: #000000 solid 1pt;
  outline-offset: -4pt;  
  max-width: 7in;
  width: 100%;
}

.metadata-list-container {
  display: none;
}

.metadata-list {
  margin: 0;
  padding: 0;
  max-height: 35vh;
  margin-bottom: 11pt;
  max-width: 7in;
  width: 100%;
  column-count: 5;
  column-gap: 6pt;
  column-rule: #000000 solid 1pt;
  column-width: 45pt !important;
}

.metadata-list ul {
  margin: 0 !important;
  padding: 0;
}

.metadata-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.metadata-entry {
  line-height: 13pt;
}

.metadata-entry:hover {
  font-weight: 800;
  cursor: pointer;
}

.metadata-entry.active {
  font-weight: 800;
  text-decoration: underline;
  background-color: transparent;
}

.metadata-entry[data-wiki^="https"]::after {
  content: '*';
  display: inline-block;
}

.metadata-list li a:hover {
  font-weight: 800;
}


.metadata-upper {
  border: #000000 solid 1pt;
  outline: #000000 solid 1pt;
  outline-offset: -4pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* dates */

.dateList {
  column-count: 4;
  font-size: 12pt;
}

.date-year {
  break-inside: avoid-column;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-entry {
  line-height: 14pt;
  font-size: 12pt;
  text-decoration: none;
  color: #3a302a;
}

.month-entry {
  text-indent: 5rem;
  font-size: 8pt;
  text-decoration: none;
  color: #3a302a;
  text-transform: uppercase;
}

.year-entry:hover, .month-entry:hover{
  font-weight: 800;
  cursor: pointer;
}
/* MAP */


/* WIKI */

.wiki-container {
  display: none;
  position: relative;
  z-index: 1;
  background-color: transparent;
  flex-direction: row;
  gap: 10pt;
  justify-content: space-around;
  align-items: center;
  margin:0;
  height: 100%;
  padding: 0pt 10pt;
}

.wiki-container.active {
  display: flex;
}

.wiki-thumbnail-container {
  display: none;
  flex-direction: row;
  justify-content: center;
  outline: #000000 solid 2pt;
  outline-offset: 2pt;
  margin-top: 5pt;
}

.wiki-thumbnail-container.active {
  display: flex;
}

.wiki-thumbnail {
  
  max-height: 30vh;
  max-width: 100%;
  margin-top: 2pt;
}

.wiki-thumbnail img{
  filter: contrast(200%), grayscale(100%);

}



.wiki-text{
  max-height: 40vw;
  padding: 11pt 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 60%;
  max-height: 100%;
}

.wiki-extract {
  overflow-y: scroll;
  text-align: justify;
  padding-top: 5pt;
}

.wiki-extract::-webkit-scrollbar {
  width: 1rem;
}

@media only screen and (min-width:481px) and (max-width: 768px){
  .wiki-container{
    flex-direction: column;
    width: 100;
    gap: 5pt;
  }

  .wiki-thumbnail{
    max-width: 15vw;
  }

  .wiki-text{
    flex: 0 0 20%;
    max-height: 50%;

  }

  .wiki-extract{
    padding-top: 0%;
  }
}
@media only screen and (max-width:480px){
  .wiki-container{
    flex-direction: column;
    width: 100;
    gap: 5pt;
  }
  .wiki-thumbnail{
    max-height: 20vh;
    max-width: 100%;
  }
  .wiki-text{
    flex: 0 0 20%;
    max-height: 50%;

  }
  
}



.wiki-readmore {
  text-align: center;
  text-decoration: none;
  color: black;
  text-decoration: underline;
  transition: text-decoration-color 300ms;
  margin-top: 2rem;
}

.wiki-readmore:hover {
  cursor: pointer;
  color: rgb(227,27,18);
  text-decoration: none;
}

/* non funziona:trova immagine */
.wiki-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('../img/1500/close_button.png');
  background-size: cover;
}

.wiki-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.wiki-loading p {
  font-family: 'Chapbook', serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



/* ARTICLE */
body.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* UPPER PART */
header.article{
  width: 50%;

}


.header-container{
  order:2;
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: left;
}

.header-buttons{
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 5pt;
  margin: 5pt;
  outline: #000000 solid 2pt;
  outline-offset: -4pt;
}

.fab-wrapper{
  width: 50%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  
}

.fab-icon{
  display: none;
}

.fab-buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5pt;
  margin: 5pt;
  outline: #000000 solid 2pt;
  outline-offset: -4pt;
  justify-content: space-around;
}

.fab-buttons button{
  background-color: white;
}

#fab-style-button{
  display: none;
}

#fab-home-button{
  display: none;
}
.header-icon{
  display: none;
}


.article-container {
  order:3;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
}
article img{
  max-width: 20vw;
  filter: contrast(200%) grayscale(100%);
}

.cover-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16pt 27pt;
}

.article-date-container {
  order: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: black  solid 1pt;
  outline: black  solid 1pt;
  outline-offset: -2pt;
  height: 19pt;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  padding: 4pt;
  
}

@media only screen and (max-width: 480px){
  .article-container {
    width: 100%;
    overflow: auto;
  }

  .article-date-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

  }

}

.article-date-container .article-date, .issue-number, .article-number {
  font-family: "Wichita Serial Bold";
  font-size: 11pt;
  text-transform: uppercase;
}

.article-date-container .article-date {
  text-align: center;
  margin: 0px;
}

.article-date-container .issue-number {
  text-align: left;
}

.article-date-container .article-number{
  text-align: right;
}


.cover-image {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-style: italic;
  font-size: 12pt;
  margin: 0px;
}

  .cover-image img{
    order: 1;
    max-width: 7in;
    width: 100%;
    height: auto;
    margin: 14pt 0pt;
  }

  .cover-image .image-description {
    order: 2;
  }

  .cover-image .image-attribution {
    order: 3;
  }

.titles {
  order:3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

  .article-title{
    order: 1;
    font-size: 32pt;
    line-height: 34pt;
    margin: 19.5pt opt;
  }

  .article-subtitle {
    order: 2;
    font-weight: 600;
    font-style: italic;
    margin: 0pt 0pt 18pt 0pt;
  }

  .by {
    display: none;
  }

  .article-author{
    order: 3;
    text-transform: uppercase;
    font-style: italic;
    font-size: 18pt;
    margin: 0pt 0pt 18pt 0pt;
  }

  .article-author::before {
    content: "By ";
    font-style: italic;
    text-transform: none;
  }

.article-source{
  order:4;
  font-weight: 600;
  font-style: italic;
}


.article-body{
  max-width: 7in;
  width: 100%;
  column-count: 2;
  padding: 16pt 27pt;
  column-gap: 6pt;
  column-width: 186pt !important;
}

.article-body figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: auto;
  margin: 11pt 0pt;
}

.article-body figure img{
  order: 1;
  width: 100%;
  height: auto;
}
.article-body figure .image-description{
  order: 2;
  font-style: italic;
}
.article-body figure .image-attribution{
  order: 3;
  font-style: italic;
}




.chapter-heading {text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 12pt !important;
  text-transform: uppercase;
  font-weight: 400;}

.article-text h2 {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 10pt !important;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 11pt;
}

.article-text > :not(.cover-page) figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.text-block p{
  margin-top: 0ch;
  text-indent: 1em;
}

p:has(> .small-caps) {
  text-indent: 0pt;
}

.drop-cap {
  color: #000000;
  line-height: 22pt;
  margin-right: 2pt;
  margin-bottom: 11pt;
  font-size: 2em;
  float: left;

}

.small-caps:not(.drop-cap)  {
  font-variant: small-caps;
  margin-left:-2pt ;
}

.ending-paragraph {
  max-width: 7in;
  width: 100%;
  padding: 0pt 27pt 16pt 27pt;
  text-align: justify;
  column-count: 1 !important;
  font-style: italic;
}

span.tag[data-wiki] {
  font-weight: bold;
  opacity: 1;
}

span.tag:hover[data-wiki] {
  cursor: pointer;
  color: rgb(227,27,18);
}

/* METADATA */


/* DISCLAIMER*/

.disclaimer-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
}

.modal-content {
  display: none;
  background-color: #f2f2f2;
  width: fit-content;
  height: fit-content;
  max-width: 60vw;
  margin: auto;
  padding: 0;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black solid 1pt;
  outline: black solid 1pt;
  outline-offset: -5pt ;
}

.modal-content > ul {
  text-align: left;
}

.disclaimer-container.visible .modal-content {
  display: flex;
}

.modal-content > p:first-of-type {
  padding-top: 1rem;
}

.modal-content p {
  text-align: justify;
  padding: 0 2rem;
}


.modal-close {
  text-align: center;
  color: black;
  text-decoration: underline;
  transition: text-decoration-color 300ms;
  margin: 2rem 0 ;
}

.modal-close:hover {
  cursor: pointer;
  color: rgb(227,27,18); 
  text-decoration: none;
}

.size-slider {
  display: none;
}

.fab-wrapper {display: none;}