/* STYLE-SELECTOR*/

.style-selector-container {
  all: unset;
  line-height: 1 !important;
  letter-spacing: 0 !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: white !important;
  color: black !important;
  z-index: 99 !important;
}

.style-selector-content {
  all: unset;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
  opacity: 1 !important;
  font-family: none !important;
}

.style-buttons {
  all: unset;
  display: flex !important;
  flex-flow: row wrap !important;
  gap: 3vw !important;
}

.style-button {
  all: unset;
  transform: scale(100%) !important;
  transition: transform 0.9s ease-in !important;
}

.style-button:hover {
  all: unset;
  cursor: pointer !important;
  animation: pulse 2s infinite !important;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	50% {
		transform: scale(1.2);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


.hidden {
  display: none;
}